<!--===== HEADER =====-->
<header class="l-header" id="header">
    <nav class="nav bd-grid">
      <div class="nav__toggle" id="nav-toggle">
        <i class="bx bxs-grid"></i>
      </div>
      <a href="" class="nav__logo">Punto De Gol</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link active">Inicio</a>
          </li>
          <li class="nav__item">
            <a href="/catalogo" class="nav__link">Catálogo</a>
          </li>
          <li class="nav__item">
            <a href="/sobreNosotros" class="nav__link">Sobre Nosotros</a>
          </li>
          <li class="nav__item">
            <a href="/promociones" class="nav__link">Promociones</a>
          </li>
          <li class="nav__item">
            <a href="/bot" class="nav__link">Bot</a>
          </li>
          
        </ul>
      </div>
      <div class="nav__shop">
        <i class="bx bx-shopping-bag"></i>
      </div>
    </nav>
  </header>